body {
    text-align: center;
    background-color: black;
    color: white;
}
#photoo {
    background-color: lime;
    color: black;
    border-radius: 30px;
    padding: 5px;
}
#analizir {
    background-color: red;
    color: black;
    border-radius: 30px;
    padding: 5px;
}
#camarena {
    margin: 0% auto;
}